.person {
  &-view {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;

    &-name {
      font-weight: 500;
    }

    &-buttons {
      display: flex;
      gap: 0.5rem;
    }
  }
}

.persons {
  .list-group {
    border-radius: 0;
  }

  .list-group-item {
    border: none;
    border-top: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
  }

  .list-group-item:last-child {
    border-bottom: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
  }
}
