<div class="import-hint-content">
  <h1 class="import-hint-title">Drop to import your file…</h1>
  <p class="import-hint-text">
    You can use JSON and txt files.
  </p>
  <p class="import-hint-text">
    In a txt file every name needs to be on a separate line.
    In JSON files you need to use the following format:
  </p>
  <div class="import-hint-example">
    <pre>
[
  "type": "persons",
  "data": [
    &#123;
      "id": "some UUID", // This is optional.
      "name": "Name 1"
    &#125;,
  ...
  ]
]
    </pre>
  </div>
</div>
