<div class="preview ">
  <div class="preview-title">
    <h3 i18n="@@p.previewTitle">Preview</h3>
    <p i18n="@@p.previewPreText">These persons will be imported:</p>
  </div>

  <div class="preview-content">
    <ul class="list-group">
      @for (person of persons$() | async; track person.id) {
        <li class="list-group-item">
          <app-person-view [person]="person" [showButtons]="false"/>
        </li>
      }
    </ul>
  </div>

  <div class="preview-footer">
    <button class="btn btn-outline-primary"
            (click)="onCancel()">
      <span i18n="@@p.cancelCaption">Cancel</span>
    </button>
    <button class="btn btn-primary"
            (click)="onImport()">
      <span i18n="@@p.importCaption">Import</span>
    </button>
  </div>
</div>
